{% extends 'pages/base.html' %}

{% block content %}
    <h2>SEARCH FUNCTION</h2>
    
    <form method="get">
        <label for="searchVal" name="searchVal">Search For A Location</label>
        <input type="text" name="searchVal" id="searchVal">
        <button type="submit">Search</button>
    </form>

    {% if searchResult %}
        <p>
            Your results are:
            <br> <br> <br>
            Items found: {{ searchResult.found }}
            <hr>
            Number of pages: {{ searchResult.totalNumPages }}
            <hr>
            Page Number: {{ searchResult.pageNum }}
            <hr>
            {% for result in searchResult.results %}
                Location: {{ result.searchVal }} <br>
                Block Number: {{ result.BLK_NO }} <br>
                Road Name: {{ result.ROAD_NAME }} <br>
                Building: {{ result.BUILDING }} <br>
                Address: {{ result.ADDRESS }} <br>
                Postal: {{ result.POSTAL }}
                <hr>
            {% endfor %}
        </p>
    {% endif %}
   

{% endblock content %}