.wrapper_card {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  flex-direction: column;

}

.cards {
  box-shadow: 0 0 10px 5px #4f546c;
  border-radius: 0.2rem;
  min-width: 28rem;
  display: flex;
  flex-direction: row;
  background-color: #090084;
  font-size:large;
  
}


/* .card__img */
.cards__img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  margin:1rem;
}

.cards__body {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

/* .card__bedroom */
.cards__description {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  flex-grow: 1;
}
/* .cards__block */
.cards__predictedprice {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  flex-grow: 1;
}

.cards__btn {
  border: none;
  border-top: 1px solid #e2e8f0;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100%;
  margin-bottom: 0.5rem;
  margin-left: 0.5 rem;
  margin-top: 0.5 rem;
  cursor:pointer;
}
cards__btn :hover {
  background-color: yellow;
}