@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body{
    padding: 0;
    margin: 0;
    background-color: #355C7D;
    font-family: Poppins, sans-serif;
}

.button{
    background-color: #C56C86;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    color: inherit;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #CA8A9D;
}

.button:focus{
    background-color: #CE4E74;
}

.sign-up-body{
    display: flex; 
    flex-direction: row;
    height: 80vh;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: white;
}

.join-message{
    font-size: 1.25em;
    font-weight: 200;
    margin-right: 5%;
}

.signup-form{
    font-size: 0.25em;
    font-weight: 200;
    background-color: black;
    width: 30vw;
    max-width: 40%;
    padding: 2rem 4rem;
    border-radius: 20px;
}

.input-group{
    padding: 10px 10px 10px 10px;
    margin: auto;
}

.input-group label{
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-group input{
    outline: none;
    background: none;
    border: 1px solid #939393;
    font-size: 1em;
    padding: .5em;
    color: inherit;
}

.input-group input:focus{
    border-color: white;
}

